@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
	background-image: linear-gradient(#a7d2dd, #f0efef);
	height: 122vh;
	font-weight: bold;
	letter-spacing: 2px;
}
*{
	margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;
}
.main{
	background-color: #EFF3F2;
	height: auto;
	width: 650px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 60%;
}
.izq{
	background-color: rgb(106, 168, 78);
	width: 200px;
	height: 100%;
	float: left;
}
.dere{
	width: 450px;
	float: left;
}
.img-perfil{
	height: 180px;
	width: 180px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 10px solid #ffffff;
	box-shadow: 6px 7px 9px 5px #3bfb4573;
}
.img-perfil img{
	width: 100%;
	border-radius: 50%;
	height: 100%;
}
a {
	color: white;
	width: 21px;
	padding: 10px;
	position: relative;
	text-decoration: none;
}
.info1{
	position: relative;
}
.cabecera{
	background-color: #278029;
	padding: 10px;
	color: #ffffff;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}
.cabecera::after{
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform:rotate(56deg);
	z-index: -1;
}
.p1{
	padding: 9px 10px;
	font-size: 11px;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill-container{
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}
.skill{
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}
.html{
	width: 50%;
	background-color: white;
}
.css{
	width: 40%;
	background-color: white;
}
.js{
	width: 25%;
	background-color: white;
}
.web {
	width: 60%;
	background-color: white;
}
.gra{
	width: 45%;
	background-color: white;
}
.icons2{
	padding: 18px 10px;
}
.nombre{
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}
.nombre h1{
	margin-bottom: 10px;
}
.info2{
	padding: 0px 50px;
	margin-top: 30px;
}
.p2{
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}
h2{
	font-size: 16px;
	margin-bottom: 15px;
}
.icons3{
	vertical-align: bottom;
	font-size: 21px!important;
	color: #4d4d4d;
}
.p3{
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}
.p3 span{
	color: #ff0000; padding-left: 20px;
}

.h-div{
	text-align: center;
	justify-content: center;
	
}

.cute{
	text-align: center;
	justify-content: center;
	font-size: 10rem;
}
.cute img{
	height: 100px;
	
}